@model Domain.Abstract.IRepository

@{
    ViewBag.Title = "Вывод таблиц";
}


<div class="col-lg-6">
    <table class=" table table-striped table-bordered table-hover table-condensed">

        <caption>Заказчики</caption>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Add Orders</th>
        </tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                
                <td>@customer.Name</td>
                <td>@customer.Address</td>
                <td>@Html.ActionLink("Изменить", "Edit", "Customers", new { id = customer.CustomerId }, null)</td>
                <td>@Html.ActionLink("Удалить", "Delete", "Customers", new { id = customer.CustomerId }, null)</td>
                <td>@Html.ActionLink("Добавить заказ", "Create", "Orders", new { CustomerId = customer.CustomerId }, null)</td>
            </tr>
        }
        <tr><td colspan="5" class="text-center">@Html.ActionLink("Добавить заказчика", "Create", "Customers")</td></tr>

    </table>
</div>

<div class="col-lg-6">
    <table class=" table table-striped table-bordered table-hover table-condensed">

        <caption>Заказы</caption>
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        @foreach (var orders in Model.Orders)
        {
            <tr>
                <td>@orders.Number</td>
                <td>@orders.Date</td>
                <td>@orders.Amount</td>
                <td>@orders.Description</td>
                <td>@Html.ActionLink("Изменить", "Edit", "Orders", new { id = orders.Number }, null)</td>
                <td>@Html.ActionLink("Удалить", "Delete", "Orders", new { id = orders.Number }, null)</td>
                <td class="hideme">@orders.Customer.CustomerId</td>
            </tr>
        }
        <tr><td colspan="6" class="text-center">@Html.ActionLink("Добавить заказ", "Create", "Orders")</td></tr>

    </table>
</div>